@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import './tailwind.css';

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
  body {
    @apply relative font-normal font-outfit z-10 bg-gray-50;
  }
}

@layer utilities {
  .menu-item {
    @apply relative flex items-center w-full gap-3 px-3 py-2 font-medium rounded-lg text-theme-sm;
  }

  .menu-item-active {
    @apply bg-brand-100 text-brand-500 py-2;
  }

  .menu-item-inactive {
    @apply text-gray-700 hover:bg-gray-100 group-hover:text-gray-700;
  }

  .menu-item-icon {
    @apply text-gray-500 group-hover:text-gray-700;
  }

  .menu-item-icon-active {
    @apply text-brand-500;
  }

  .menu-item-icon-inactive {
    @apply text-gray-500 group-hover:text-gray-700;
  }

  .menu-item-arrow {
    @apply relative;
  }

  .menu-item-arrow-active {
    @apply rotate-180 text-brand-500;
  }

  .menu-item-arrow-inactive {
    @apply text-gray-500 group-hover:text-gray-700;
  }

  .menu-dropdown-item {
    @apply relative flex items-center gap-3 rounded-lg px-3 py-2.5 text-theme-sm font-medium;
  }

  .menu-dropdown-item-active {
    @apply bg-brand-50 text-brand-500;
  }

  .menu-dropdown-item-inactive {
    @apply text-gray-700 hover:bg-gray-100;
  }

  .menu-dropdown-badge {
    @apply block rounded-full px-2.5 py-0.5 text-xs font-medium uppercase text-brand-500;
  }

  .menu-dropdown-badge-active {
    @apply bg-brand-100;
  }

  .menu-dropdown-badge-inactive {
    @apply bg-brand-50 group-hover:bg-brand-100;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    @apply size-1.5;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-gray-200 rounded-full;
  }

  .dark .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #344054;
  }

  input[type='date']::-webkit-inner-spin-button,
  input[type='time']::-webkit-inner-spin-button,
  input[type='date']::-webkit-calendar-picker-indicator,
  input[type='time']::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
  }

  .sidebar:hover {
    width: 290px;
  }
  .sidebar:hover .logo {
    display: block;
  }
  .sidebar:hover .logo-icon {
    display: none;
  }
  .sidebar:hover .sidebar-header {
    justify-content: space-between;
  }
  .sidebar:hover .menu-group-title {
    display: block;
  }
  .sidebar:hover .menu-group-icon {
    display: none;
  }

  .sidebar:hover .menu-item-text {
    display: inline;
  }
  .sidebar:hover .menu-item-arrow {
    display: block;
  }
  .sidebar:hover .menu-dropdown {
    display: flex;
  }

  .tableCheckbox:checked ~ span span {
    @apply opacity-100;
  }
  .tableCheckbox:checked ~ span {
    @apply border-brand-500 bg-brand-500;
  }

  .taskCheckbox:checked ~ .box span {
    @apply opacity-100;
  }
  .taskCheckbox:checked ~ p {
    @apply text-gray-400 line-through;
  }
  .taskCheckbox:checked ~ .box {
    @apply border-brand-500 bg-brand-500;
  }

  .task {
    transition: all 0.2s ease;
  }
  .task.is-dragging {
    border-radius: 0.75rem;
    box-shadow:
      0px 1px 3px rgba(16, 24, 40, 0.1),
      0px 1px 2px rgba(16, 24, 40, 0.06);
    opacity: 0.8;
    cursor: grabbing;
  }

  .social-button {
    @apply flex h-11 w-11 items-center justify-center gap-2 rounded-full border border-gray-300 bg-white text-sm font-medium text-gray-700 shadow-theme-xs hover:bg-gray-50 hover:text-gray-800;
  }

  .edit-button {
    @apply flex w-full items-center justify-center gap-2 rounded-full border border-gray-300 bg-white px-4 py-3 text-base font-medium text-gray-700  hover:bg-gray-50 hover:text-gray-800 lg:inline-flex lg:w-auto;
  }
  .text-theme-sm {
    font-size: var(--text-theme-sm);
    line-height: var(--text-theme-sm--line-height);
  }
  .custom-datepicker-popover {
    min-width: 1000px !important;
    max-width: 1000px !important;
  }

  .dp__main .dp__theme_light {
    --dp-highlight-color: rgba(34, 233, 8, 0.993);
    --dp-primary-color: #20a84a;
    --dp-primary-text-color: #000000;
  }

  .dp__menu {
    min-width: 350px;
    font-size: 0.875rem;
  }

  .dp__action_button {
    font-size: 0.875rem;
    padding: 0.625rem 1rem;
    border-radius: 0.5rem;
    background-color: #f9fafb;
    border: 1px solid #d1d5db;
    color: #1f2937;
    transition: background-color 0.2s ease;
  }

  .dp__action_button:hover {
    background-color: #f3f4f6;
  }

  .dp__input {
    height: 2.75rem;
    width: 100%;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    background-color: transparent;
    padding: 0.625rem 1rem;
    font-size: 0.875rem;
    color: #1f2937;
    box-shadow: 0 1px 2px rgba(16, 24, 40, 0.05);
    appearance: none;
  }

  .dp__input::placeholder {
    color: #9ca3af;
  }

  .dp__input:focus {
    border-color: #4ec676;
    outline: none;
    box-shadow: 0 0 0 3px rgba(32, 168, 74, 0.1);
  }
}
